
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .App{
  object-fit: fill;
  }
  
}

@media screen and (max-width: 375px) {
  .App{
    object-fit:contain;
  }
  
} 