@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500&family=Poppins:wght@100&display=swap");
.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  margin-top: 4rem;
}
.card {
  height: 50vh;
  width: 70vh;
}
.title {
  /* position: absolute; */
  font-size: 15px;
  font-weight: 900;
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-left: 5rem;
  color: black !important;
}
.cards__title {
  position: absolute;
  /* z-index: -1000; */
  top: 8rem;
  /* left: calc(100% - 71rem); */
}
.card__sliderdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  border-bottom: 0.01rem solid lightgrey;
  flex-direction: column;
  flex: auto;
}
.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__infodiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.card__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: 1rem;
}
.card__list h5 {
  margin: 0;
  flex: auto;
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
}
.card__switchinfo {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  flex: auto;
  margin-left: 1rem;
  
}

.card__heading {
  display: flex;
  justify-content: center;
 align-items: center;
  flex-direction: row;
  gap: 4rem;
}
.card__switchinfo h5 {
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem;
}
.card__heading h5{
  font-family: "Dosis", sans-serif;
  font-family: "Poppins", sans-serif;
}
.card__price{
  flex: 2;
}
.card__price h1{
  display: inline;
}
.card__heading h5{
  flex: auto;
}

 @media screen and (max-width: 1440px) {
  .card__sliderdiv{
  object-fit: fill;
  }
  
}

@media screen and (max-width: 375px) {
  .card__sliderdiv{
    object-fit:contain;
  }
  
} 
